/*  your css code here. If applicable */
*{
	background-color:gray;
}
#photo-heading{
	text-transform:uppercase;
	text-align:center;
}
#animal-photos>img{
	width:200px;
	border-radius:20px;
	padding:6px;
}